# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules at any level
node_modules

# macOS Finder files
.DS_Store

# Build directories
dist
dist-ssr
coverage
*.local

# Cypress artifacts
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info files
*.tsbuildinfo

# Test results
test-results/
playwright-report/

.env
backend/db/iterations/*
backend/db/maddentools_iterations/*